[2021-03-23 00:30] Nayir opened #1 "Node latests version not supported."
FYI, `npm install bepro-js` not working on node v12.21.0 or even v15.x.
Web3js is probably the origin of the problem. WDYT about using [ether-js](https://github.com/ethers-io/ethers.js/) ?

[2021-04-14 13:01] Ruiub3i opened #3 "Integrate Automatic Javascript Documentation Build"
The goal is to generate automatically a javascript documentation so that new developers can seamlessly add new js code comments like the ones below :

<img width="387" alt="Screenshot 2021-04-14 at 13 59 23" src="https://user-images.githubusercontent.com/26004658/114714033-9f7e3300-9d29-11eb-8a4a-1e832a94ff02.png">

The solution has to present :
- [ ] Detect all @param, @description, @return, @fun

[2021-04-14 13:03] Ruiub3i opened #4 "Generate a good documentation for all the JS Models (ERC721Collectibles etc..)"
Create good js-doc like the one below :

<img width="444" alt="Screenshot 2021-04-14 at 14 02 52" src="https://user-images.githubusercontent.com/26004658/114714525-1b787b00-9d2a-11eb-8579-efe7e0e40066.png">

[2021-04-15 09:30] #1 closed

[2021-04-16 14:53] moshmage commented on #3
I was using `typedoc --theme minimal --out ./doc --mode file --disableSources` on a old project I had. I guess I can take a stab at this over the weekend and check if it will work the same way.

If it does it's just a matter of providing a better template and/or add new functionality to it.

[2021-04-16 15:21] Ruiub3i commented on #3
That would be able to work @moshmage. The goal is to fill the above tickers, if you are able that would be great.

Thanks!

[2021-04-17 10:25] moshmage commented on #3
Yep, got jsdoc to work; But it turns out there isn't a "simple" way to create the template. Will get on it :)

One question: Should the template for the documentation live inside the betpro-js project or should it be a dependency ? (I'm leaning for a dependency 'cos I can't think of a _good_ reason for them to live side-by-side the project. But I'll go with what's decided ^^)

[2021-04-17 15:47] Ruiub3i commented on #3
Can be a dependency, no problem! :)

[2021-04-17 16:07] Ruiub3i opened #6 "Integrate Proxy Javascript Infrastructure to every contract + Javascript Interface"
Add a Proxy setup _available already in openzeppelin library installed_

The goal is to :

- [ ] Make every contract upgradable after deployed (with newer features by the `onlyOwner` modifier)
- [ ] Keep the architecture available for older versions for the same contract (Example : NFT Factory v1 & v2 via inputs on the javascript `getERC721Collectibles({customID, contractAddress, version})` call)

[2021-04-17 16:09] Ruiub3i opened #7 "Upgrade Truffle Version (Update all Contracts to new necessary updates)"
Upgrade :

- [ ] Truffle Config
- [ ] *.sol Contracts

[2021-04-17 16:10] Ruiub3i opened #8 "Run automatically "npm build" when pushing a PR to github"
- [ ] Create a good bash protocol for Github PR + automatic npm run build for npm package updates

_Can be used external libraries via package.json_

[2021-04-17 16:12] Ruiub3i opened #9 "Integrate 1st version for Prediction Markets"
Function :
- [ ] Add/remove Liquidity
- [ ] Buy/Sell Shares
- [ ] Access Shares from msg.sender
- [ ] Functional Tests

Tools :
- [ ] Javascript Framework for Front End Integration
- [ ] Unit Tests

_Available for Polkamarkets initially_

[2021-04-17 16:17] Ruiub3i opened #10 "Create a better visual README for all the developer process"
**Should contain the process of opening/solving an issue**

1. Issue information + BEPRO bounty should be available and easy to understand :
- [ ] Name
- [ ] Description
- [ ] All features requested
- [ ] $BEPRO bounty
- [ ] Solution Expected
- [ ] Requesting Github Entity

2. Issue Discussion
3. Development of Issue by the desired developers
4. PR should be submitted with :
- [ ] The `ethereum ad

[2021-04-20 19:01] nelsonvega commented on #8
working on this ticket

[2021-04-20 20:04] nelsonvega commented on #8
@Ruiub3i  the issue was resolved and submitted the PR. Please let me know if you have any question

[2021-04-20 20:30] nelsonvega commented on #10
I'm working on this ticket.

[2021-04-21 11:48] Ruiub3i opened #13 "Smart Contract - ERC20 Token Lock"
**Description**
User should be able to lock their ERC20 Tokens with a Start Date (block.timestamp) and End Date, after the EndDate the user should be able to withdraw their tokens

**Master Variables**
1. ERC20 address
2. admin (`onlyOwner` modifier)
4. maxAmountToLock
5. minAmountToLock
6. totalAmountStaked (at that moment)

**Features**
- [ ] `deploy(ERC20Adress)`
- [ ] `lock(amount, endDate)`
-

[2021-04-21 12:11] sgoia commented on #13
I am working on this.

[2021-04-21 12:49] sgoia commented on #13
A few ideas need to be clarified here:
1. "ERC20 address" is the BEPRO token address that could be changed in the future by contract admin I guess ?
2. "endDate" is a date in the future that contract admin can set once or modify whenever needed or wanted ?
3. "maxAmountToLock" and "minAmountToLock" must be specific to each user, how many tokens to lock, minimum and maximum amounts I guess

4. "dep

[2021-04-21 14:27] sgoia commented on #13
Sorry, this is obvious, the description says it, user should be able to lock their own tokens by specific End Date.

[2021-04-21 14:37] Ruiub3i commented on #13
1."ERC20 address" should be a variable to enter in the deploy function
2."endDate" should be set by the user on the "lock(endDate)" function - updated in the description
3."minAmountToLock" & "max.." should be set by the admin and verified in the "lock" function
4. yes! but not to be able to change after the deploy (should be set forever)

[2021-04-21 15:59] sgoia commented on #13
ok great, thanks.

[2021-04-21 17:58] sgoia commented on #13
Another question that comes up is, once a user lockes up some tokens, he will not be able to lock any new amount until the first lock is released? Or do we handle multiple locking requests for the same user?

[2021-04-23 09:54] Ruiub3i opened #16 "Smart Contract - Collectibles NFT [@RealFevr]"
**Requester**
Real Fevr (https://fantasy.realfevr.com/)

**Description**
A decentralized NFT Factory where users are able to open packs with football events

**Master Variables**
1. ERC20 address
2. admin (`onlyOwner` modifier)
4. maxAmountToLock
5. minAmountToLock
6. totalAmountStaked (at that moment)

**Libraries to Inherit**

- [ ] ERC721
- [ ] ERC1151
- [ ] ERC20 (to access the real fvr token)

[2021-04-23 09:58] Ruiub3i opened #17 "Smart Contract - Prediction Markets [@Lepricon]"

[2021-04-23 09:59] Ruiub3i opened #18 "Smart Contract - Network [@BEPRO]"
Description A decentralized Development Marketplace for bepro-js

Master Variables

incrementIssueID uint256
closedIdsCount uint256
totalStaked uint256
feeAddress address
feeAddress uint256
Libraries to Inherit

Ownable
ERC20 (beproToken)
Features

openIssue(amount)
updateIssue(issueId, amount)
closeIssue(issue_id, prAddresses, prAmounts, metadata)
getIssueById(issue_id)
getIssuesByAddress(address

[2021-04-23 10:47] Ruiub3i commented on #18
**Requester**
BEPRO (https://bepro.network)

**Description**
A decentralized NFT Factory where users are able to open packs with football events

**Master Variables**
1. incrementIssueID `uint256`
2. closedIdsCount `uint256`
3. totalStaked `uint256`
4. feeAddress `address`
5. feeAddress `uint256`

**Libraries to Inherit**

- [ ] Ownable
- [ ] ERC20 (beproToken)

**Features**
- [ ] `createPacks(pak

[2021-04-23 10:58] Ruiub3i opened #19 "Remove all getContract functions from Application and instead calling the Object directly"
**Description**

Change the architecture of _Application.getContractType()_

**Example**

Instead of using

`erc721Contract = app.getERC721Collectibles({});`

to use

`import { ERC721Collectibles } from ...
erc721Contract = new ERC721Collectibles();

`

[2021-04-23 20:22] roultoken opened #21 "ROUL - Casino Dapp request [@skyistoohigh - telegram]"
Hey!

We launched our token 10 days ago it's a jackpot defi token on the BSC. We take 5% on all transaction that we send to a jackpot wallet. Every 4 hours someone is picked randomly, and win the wallet content. Already 50+ winners, around $17,000 worth of tokens won.

We have a few specificities around jackpot (there are 3, every 4 hours, every day, every week) but that's already up and running f

[2021-04-24 11:29] Ruiub3i commented on #21
Thanks for the setup, we will soon develop a proposed spec list for the development of this

[2021-04-24 16:46] roultoken commented on #21
Sounds good @Ruiub3i let me know if you need anything. You can also reach me in telegram

@skyistoohigh or discord skyistoohigh#7757

[2021-04-26 16:00] tbem commented on #16
Hi guys, the createPacks function should consider transactions fees to right holders for the moment of first sell and future transactions, something like this:
`createPacks(
  paks_number: 20000,
  nfts_per_pack: 4,
  price: 2000,
  series: 'A',
  drop: 'First',
  pack_type: 'Premium',
  initial_id: 1,
  first_sell_fees: [ { wallet_id: 'xxxxRightHolder1', fee: 0.5 }, { wallet_id: 'xxxxRealFevr', f

[2021-04-26 16:04] tbem commented on #16
We also should have another function to define the transaction fees on the marketplace, something like this:
`setMarketplaceFees([{wallet_id: 'xxxxRealFevr', fee: 0.03}]) [Admin]
`
This way we can change the marketplace fee over the time.

[2021-04-26 20:29] sgoia commented on #19
I am working on this.

[2021-04-26 20:30] sgoia commented on #13
We do one lock at a time for now.

[2021-04-27 07:49] sgoia commented on #13
I would appreciate someone to grant me permission to push my changes for this issue, thank you.

[2021-04-28 10:36] fmcruz opened #22 "Information about LOOPhole.finance"
**Description**
LOOPhole's main goal is to drive investors to hodl their assets.
Loophole offers segregated liquidity pools, at the beginning just for WBTC and ETH (_Main Pools_), investors stake their assets in these pools. While an investor keeps the stake in the pool, the system yields back LOOPhole tokens through liquidity mining.
In order to promote the hodling strategy, whenever an investor

[2021-04-29 00:38] roultoken commented on #21
Hey @Ruiub3i any update? thank you!

[2021-04-29 14:35] abbudi05 commented on #21
Is this problem up for solving?

[2021-04-29 14:54] roultoken commented on #21
Hey @abbudi05 it's not a "problem" more like a project request. We're starting from scratch but already working on a contract draft. We'd love to offer Bepro tokens to get support from experts like you in building this :)

telegram @skyistoohigh or discord skyistoohigh#7757 if you want to follow up there. I guess first step would be to get some specs. @Ruiub3i seemed to be on it but he's OOO for a

[2021-04-29 14:57] abbudi05 commented on #21
I've contacted you on telegram with the same username, the project will be a nice way to learn about smart contracts Looking to hear back!

[2021-04-29 15:11] Ruiub3i commented on #21
Hey @roultoken this def seems possible to integrate with bepro-js.

Will only need you to confirm me the information below to finalize the spec list :
- Create a 4hr random event that chooses a random holder
- Create a contract structure similar to dice2.win? for the external games

All the rest on the dapp side (front end) should be built outside of bepro-js - since bepro-js is just the smart con

[2021-04-29 15:15] Ruiub3i commented on #22
Thanks @fmcruz, can you please also attach and integrate the information about the algo being used to determine the penalty when exiting?

[2021-04-29 15:17] Ruiub3i commented on #16
@tbem can we just assume 1 fee based address as that all transactions (included the first one) have the fee sent to the address Y?

Otherwise it would consume a lot of gas and seems that making the first transaction not have a fee while all the future ones will have wont make any real impact

Let us know

[2021-04-29 15:28] Ruiub3i commented on #7
pragma 0.6.0

[2021-04-29 15:48] Ruiub3i opened #24 "Integrate Circle CI for npm test automated CI"
- Config.yml is already created on a branch  `circleci-project-setup`

- [ ] All the process should work
- [ ] Should run npm test and verify if it fails or not (report on the github env directly)

[2021-04-29 18:17] tbem commented on #16
@Ruiub3i The createPacks function should receive 2 Array[Hash] parameters for specifying the first buy fees and the future transactions fees. The number of hashes, may vary dependently of the right holders we need on each package drop. Each Hash is composed by the wallet and the percentage in decimal correspondent to the fee that we need to process.
Ex:
`first_sell_fees: [ { wallet_id: 'xxxxRightH

[2021-04-30 11:34] Ruiub3i opened #25 "Smart-Contract - MiningERC20"
**Description**

Raising capital with ERC20s is completely broken for retail investors
Private sale investors invest at a nominal price
Where fomo kicks in in general platforms like bscpad, polkastarter, coinlist and others
We need a system where products come before the 1st token is minted
The goal of this smart contract is to be easy to integrate with other defi smart contracts so that after the

[2021-04-30 14:30] fmcruz commented on #22
Hi @Ruiub3i, I've just updated the description and included the info about the algo of exiting and entering.

[2021-04-30 16:47] sgoia commented on #7
done, quick fix.

[2021-05-01 16:30] sgoia opened #27 "Wiki [first version]"
Have a wiki with everything explained should anyone need to understand certain aspects from the project or the dev environment setup and usage, tests etc.

[2021-05-01 16:31] sgoia commented on #27
working on it.

[2021-05-02 22:22] snack-0verflow commented on #24
@Ruiub3i Just got local environment running tests through `npm run test`. Picking up this ticket.

Questions:

1. Should all unit tests pass atm?
2. What do you mean by "report on the github env directly"? (like CI pass or failed icon on per commit history in a PR?)

[2021-05-02 23:42] snack-0verflow commented on #24
@Ruiub3i

There are tests failing, is this expected?
<img width="1214" alt="Screenshot 2021-05-03 at 00 39 15" src="https://user-images.githubusercontent.com/36766508/116831626-732b3900-aba8-11eb-86df-2c3dac1d57f0.png">

<img width="1349" alt="Screenshot 2021-05-03 at 00 39 26" src="https://user-images.githubusercontent.com/36766508/116831622-6eff1b80-aba8-11eb-9e8c-2b5a653ec2e8.png">

[2021-05-03 12:20] snack-0verflow commented on #24
Status update:
After a brief discussion (with `Samjr_g` and @Ruiub3i) on the BePro's developer community telegram channel, this CI ticket is blocked until tests have been automated using `ganache` to test smart contracts using local private chain and rpc client rather that Eth's public test net.

[2021-05-03 13:15] sgoia opened #28 "[IP] Add Ganache (local blockchain) for app layer unit tests"
We need a local blockchain with ganache for app layer unit testing so we can deploy as many contracts as we want and as much as we want until all unit tests are passed successfully before testing on rinkeby public network as we spend eth and quickly run out of faucet eth.

[2021-05-03 13:17] sgoia commented on #28
Thinking and working on this one.
Suggestions are welcome once the first version of the solution will be merged to master.

[2021-05-05 15:18] #28 closed

[2021-05-05 15:35] snack-0verflow commented on #24
Merged 🙌🏼

[2021-05-05 16:15] Ruiub3i commented on #16
- [ ] createPacks -> createPack
- [ ] editPackLimit -> editPackInfo
- [ ] deletePacks -> deletePackById
- [ ] deletePackById
- [ ] getPacks (All this calls should be taken offchain with the filtering that comes from the event PackCreated that sends all this information everytime a pack is creating)
- [ ] getPacksByAddress (All this calls should be taken offchain with the filtering that comes from

[2021-05-05 17:21] sgoia opened #33 "[IP] ERC20TokenLock accept multiple token locks"
Improvement proposal on ERC20TokenLock to accept multiple token locks from the same user as long as release date is the same or later into the future, user adds up to his locked tokens stake.

[2021-05-05 22:55] Ruiub3i commented on #16
**Events to Be used below**

`    event PackCreated(uint256 packId, uint256  nftsAmount, string indexed serie, string indexed packType, string indexed drop);`
`    event PackOpened(address indexed by, uint256 indexed packId);
``    event PackDelete(uint256 indexed packId);`

[2021-05-06 11:38] Ruiub3i commented on #24
**Solved - to be paid once the BETA is released**

[2021-05-06 11:38] #24 closed

[2021-05-06 11:38] Ruiub3i commented on #13
**Solved - to be paid once the BETA is released**

[2021-05-06 11:38] #13 closed

[2021-05-06 11:38] Ruiub3i commented on #8
**Solved - to be paid once the BETA is released**

[2021-05-06 11:38] #8 closed

[2021-05-06 11:39] Ruiub3i commented on #3
**Solved - to be paid once the BETA is released**

[2021-05-06 11:39] #3 closed

[2021-05-06 11:39] Ruiub3i commented on #7
**Solved - to be paid once the BETA is released**

[2021-05-06 11:39] #7 closed

[2021-05-06 11:39] Ruiub3i commented on #10
@nelsonvega are you still working on this one?

[2021-05-06 13:11] nelsonvega commented on #10
yes, I'm working on this ticket. I will send the PR soon.

[2021-05-06 14:39] sgoia commented on #6
I am working on this one.

[2021-05-06 20:48] sgoia commented on #27
wiki is at this forked repo ready for merging https://github.com/sgoia/bepro-js.wiki.git

[2021-05-07 09:38] Ruiub3i opened #35 "Remove /build doc content with .gitignore & remove from the gitub repo"
**Creates a lot of problems having to solve Merges with builds which are irrelevant**

The goal is to remove /build to .gitignore & remove from "master"

But the /build should be always done whenever anyone uses bepro-js, so on the "npm i" command

[2021-05-07 09:43] Ruiub3i opened #36 "Get Ganache Cli to run automatically & install locally in npm i"
ganache-cli

[2021-05-07 21:12] moshmage commented on #4
I'll take this one @Ruiub3i and I'll learn the methods while doing it :)

as a side note, I was also thinking of changing the docs-template to have the members of the class on the navigation for better access; But I can leave that to a more controlled date :)

[2021-05-08 20:34] sgoia commented on #36
reminder: issue solved after merging branch sgoia/bepro-js:i36-ganache-cli

[2021-05-08 20:36] sgoia opened #39 "Each Test has to have its own ERC20Contract new deployment"
When unit testing, each contract test has its own fresh/new ERC20Contract token deployment for isolation of true unit testing.

[2021-05-09 20:21] #36 closed

[2021-05-10 14:28] sgoia commented on #39
working on this, will be fixed while doing issue 19

[2021-05-10 18:39] sgoia commented on #39
done, along with issue 19.

[2021-05-10 18:39] #39 closed

[2021-05-12 11:22] Ruiub3i opened #49 "Add npm test into github workflow"

[2021-05-12 11:30] Ruiub3i opened #50 "Smart Contract - Marketplace NFTs [@RealFevr]"
**Description**
Simple Marketplace similar to opensea for basic Sale Use of NFTs
The goal is also to make it agnostic

**Features**

- [ ] Get NFTs on Sale  `getAllOnSale()`
- [ ] Put NFT on Sale `putOnSale(tokenId, price, currencyAddress)`
- [ ] Buy NFT `bid(tokenId, price)`
- [ ] Accept Offer NFT `acceptOffer(tokenId, offerId)`
- [ ] Get All Offers for NFT `getOffers(tokenId)`
- [ ] Get All Curr

[2021-05-12 11:33] Ruiub3i opened #51 "Create 2 more tabs on the Documentation Page"
**Description**

Add 2 pages below Documentation [Readme.md]

- Contributing [Contributing.md]
- Rules [Rules.md]

<img width="519" alt="Screenshot 2021-05-25 at 12 37 43" src="https://user-images.githubusercontent.com/26004658/119491597-042fa300-bd56-11eb-98b4-8ca90a3e6356.png">

Add information on Contributing with the info below :

1. How to create a new feature/contract/product [Non Developer]

[2021-05-12 11:38] Ruiub3i commented on #51
2.

- [ ] Fork the Project
- [ ] Create a smart contract inside the `src/contracts/custom/CONTRACT_NAME.sol`
- [ ] Add it to the` index.js` at `interfaces`
- [ ] Build the Javascript Wrapper at `src/models/custom/CONTRACT_NAME.js`
- [ ] Build the unit tests under `tests/custom/CONTRACT_NAME-test.js`
- [ ] Add to the index.js tests

[2021-05-12 18:12] Ruiub3i commented on #6
Deprecated update

[2021-05-12 18:12] #6 closed

[2021-05-12 20:22] nelsonvega commented on #49
I'm working on this ticket

[2021-05-12 20:26] nelsonvega commented on #10
Is this ticket still outstanding @Ruiub3i ?

[2021-05-12 20:28] nelsonvega commented on #4
I can work on this @Ruiub3i . I just want to make sure no one is working on it

[2021-05-12 20:44] sgoia commented on #19
done, branch ready to be merged into master, pull request created.

[2021-05-12 22:14] moshmage commented on #4
Sorry @nelsonvega there was already a PR open for this; You're welcome to make improvements, tho!

[2021-05-14 20:05] mariuseliassen opened #57 "Docker support"
**Describe the feature or project**
Create a docker image that contains all the necessary software versions to build and develop the bepro-js framework.
Should come bundled with a Dockerfile, docker-compose file and a Makefile with one-liners to start, stop and execute common commands (tests, ganache start, build, watch, etc)

**Bounty**
Bragging rights

[2021-05-14 21:32] moshmage opened #59 "Create Vue app for bepro-js documentation"
**Describe the feature or project**
The current JSDoc solution is a pain to update and redesign, and while it serves its "quick to market" purpose it does not satisfy as an actual tool developers use;

To fix this, we should create a Vue2 (typescript) application that's able to digest the documentation from bepro-js and serve it under a github-pages website.

We can achieve this by connecting the

[2021-05-14 21:58] moshmage commented on #59
Work has started; Work will continue.

[2021-05-14 22:02] Ruiub3i commented on #59
Bragging rights conceded!

[2021-05-14 22:09] #57 closed

[2021-05-16 04:48] Wizard-maker commented on #59
What is this page about? I'm lost looking at the comments.

[2021-05-17 10:23] moshmage commented on #59
Essentially, while the documentation page is usable - it isn't easy to update its design. To that end, we thought about doing something that can consume the existing documentation but make a website/pwa that's easier to maintain and update when needed

[2021-05-17 22:34] #10 closed

[2021-05-17 22:58] tbem commented on #50
We should have an option just do buy the NFT for the price is listed. Without the bids process.

[2021-05-18 15:31] mariuseliassen commented on #35
We should also remove the ".DS_Store" file in root and subfolders.

[2021-05-18 23:45] tbem commented on #16
Would be nice to have a getter and a setter(Admin) for both packIncrementId and lastNFTID vars.

[2021-05-19 00:08] moshmage commented on #59
progress can be seen here https://github.com/moshmage/bepro-docs

[2021-05-19 00:13] tbem commented on #50
We should have a function to return the Marketplace transactions for a NFT `getTransactions(tokenID).`

[2021-05-20 21:11] tbem commented on #16
Add this 2 Arrays on createPack function:
`transferFeeAddresses`, `transferFeeAmounts `

[2021-05-20 21:24] moshmage commented on #59
@Wizard-maker updated the issue with something that might clear things :)

[2021-05-21 12:47] Ruiub3i opened #60 "Add "npm run lint:fix" auto before "git add .""
**Describe the bug**
Add "npm run lint:fix" auto before "git add ."

**Reproduction**

1. Run "git add ."
2. Automatically run "npm run lint:fix" before

**Logs, screenshots**

Goal is to remove this issue

<img width="663" alt="Screenshot 2021-05-21 at 13 46 51" src="https://user-images.githubusercontent.com/26004658/119139496-fff44480-ba3a-11eb-9c25-f5b07bb0d26a.png">

[2021-05-23 19:59] nodexchange commented on #60
Hey, I am a little stuck with this one, as they are no git hooks I can tap into to get it sorted.
https://git-scm.com/docs/githooks

I had a play, I've added smarter lint-staged and husky for us to make it more scalable in the future, but as it stands we might not be able to resolve it. PR on the way. Also, I've added a troubleshoot.md, which we should all contribute too, I am sure it will save yo

[2021-05-23 20:01] nodexchange commented on #60
https://github.com/bepronetwork/bepro-js/pull/62

(I can squash it if easier).

Also, removed the build, it gets build on test anyway.

[2021-05-24 08:47] nodexchange commented on #35
This might be related:
https://github.com/bepronetwork/bepro-js/issues/60

[2021-05-25 11:17] Ruiub3i commented on #22
How to integrate uniswap v3 swaps in the SC :

https://github.com/Uniswap/uniswap-v3-core

[2021-05-25 11:19] Ruiub3i commented on #22
Tests necessary :

1. Create a ERC20 Token in Kovan
2. Create a pool Uniswap v3 in Kovan
3. Use that pool id/address for the general tests

[2021-05-25 11:39] #4 closed

[2021-05-25 11:39] #60 closed

[2021-05-25 11:51] moshmage commented on #51
this should be done using [JSDOC Tutorials](https://jsdoc.app/about-tutorials.html) which is then linked in the jsdoc configuration file as
[code]

[more information on how to do this on better docs here](https://github.com/SoftwareBrothers/better-docs#customization)

[2021-05-25 22:32] Ruiub3i commented on #16
- packIncrementId starts at 1
- removed packNumber and added opener variable in Pack Object (stack to deep problem in ethereum - not enough space for duplicated variables)
- added event PackOpened & added PackBought
- solved problem on setTokenPrice
- added function getTokenPrice

[2021-05-28 23:06] riaje opened #71 "[DOC][Minor] 404 in the live documentation for ERC721Contract (options detail link)"
**Describe the bug**
[DOC][Minor] 404 in the live documentation for the ERC721Contract page

**Reproduction**
- Go on https://bepronetwork.github.io/bepro-js/ERC721Contract.html
- Click on : ERC721Standard~Options on top of the page

This 404 page is on this address: https://bepronetwork.github.io/bepro-js/ERC721Standard.html#~Options
(Maybe it's just because it's not created atm)

**Expected beha

[2021-05-31 17:38] Ruiub3i opened #72 "Integrate Automated Javascript creation of classes based on solidity written"
**Describe the feature or project**
Automatically write the javascript objects under **/src/models/X** by using the code behind **/contracts/X** functions, this should be used to automate the process of generating documentation and adding functions to systems

**Available examples**
Non available

**Bounty**
100k BEPRO

**Who are we**
BetBlock Technology LDA

[2021-06-01 09:02] nodexchange commented on #71
I wanted to give @moshmage a bit of break from staring at the docs (over and over again), so here is a quick PR. https://github.com/bepronetwork/bepro-js/pull/73

PS.
Mosh, amazing work!! The docs are looking gorgeous :D

@Ruiub3i, have a look if things make sense.

[2021-06-03 12:11] nodexchange commented on #71
should be solved.

[2021-06-03 14:36] Ruiub3i opened #81 "Create a Lending Protocol [ala @Compound.Finance]"
**Describe the feature or project**
Create a simple ERC20 only Protocol where users can borrow until 20% of what they lended initially.
Only ERC20 should be allowed, and you can borrow one ERC20 against other ERC20

Information information :
- Only ERC20 Tokens that are present in Uniswap with a pair against ETH should be available
- Ratio of exchange between the borrowed ERC20 Token & the lended

[2021-06-04 04:59] riaje commented on #71
It's perfect thanks :) good work

[2021-06-04 04:59] #71 closed

[2021-06-04 11:57] Ruiub3i commented on #50
getTransactions should be done via the use of the events proposed below :
<img width="703" alt="Screenshot 2021-06-04 at 12 57 09" src="https://user-images.githubusercontent.com/26004658/120797775-60ec4400-c534-11eb-8c0e-e74fb8de137e.png">

[2021-06-06 12:23] Ruiub3i commented on #50
- [ ] Only left to add is the perpetual fees per NFT for all the sales done in the marketplace

[2021-06-06 21:48] riaje commented on #35
@Ruiub3i
Seem to be fix by the work of @moshmage in this pull request, check but normally you can close it
(see the part "Deals with" in the PR)

https://github.com/bepronetwork/bepro-js/pull/47

[2021-06-06 21:59] riaje commented on #49
@Ruiub3i This issue is supposed to be done by this pull request. You can close it if it's ok for you (just for reminder)
https://github.com/bepronetwork/bepro-js/pull/56

[2021-06-08 13:33] tbem commented on #16
The `buyPack ` function should receive an array of ids, to support multipacks buys at one shot.

[2021-06-09 12:40] tbem commented on #50
Add admin functions to Sell Nfts and to cancel sells, in order to reproduce the state of the marketplace in a new marketplace contract.

[2021-06-09 15:59] tbem commented on #16
the `openPack` should receive an array of ids to avoid multi authorisations from Metamask to open each pack.

[2021-06-11 09:17] Ruiub3i opened #86 "Create a Decentralized Salary Escrow Payment System [ala Sablier.Finance]"
**Describe the feature or project**
Create a system similar to Sablier Finance where companies are able to add payments to addresses and daily escrow can be made by the employees and users

**Available Examples**
Sablier.Finance acquired by mainframe

**Bounty**
500k BEPRO

**Who are we**
Internal BEPRO

[2021-06-11 11:37] tbem commented on #16
The `getRegisteredTokens` is returning error: Error: types/values length mismatch (count={"types":1,"values":0},

[2021-06-11 11:39] tbem commented on #16
isApproved method is inconsistent, it's supposed after the approve for a specific wallet always return true. But that is not happening, sometimes comes true, and then comes false again.

[2021-06-13 21:41] andrefcgoncalves commented on #18
When not using the `test=true`, we need to call the `__assert` method but it throws an error:
`TypeError: Cannot read property 'use' of undefined @ bepro-js/build/models/BEPRO/Network.js (590:73)`

Here's the snippet :
[code]

[2021-06-13 21:45] andrefcgoncalves commented on #18
After creating an issue, calling the method `getIssueById` and passing the issue id returned on the creation return s the following:
`{"_id":"0","tokensStaked":"0","creationDate":"1970-01-01T00:00:00.000Z","issueGenerator":"0","votesForApprove":"0","mergeProposalsAmount":0,"finalized":"0","canceled":false}`

[2021-06-15 12:07] sgoia commented on #86
I am interested in this one, working on it.

[2021-06-15 16:17] LuisDuraes-GitHub opened #87 "Blockchain for Advanced Bio Fuels - Supply Traceability - Grants Program"
**Describe the feature or project**

**Available examples**

**Bounty**

**Who are we**

[2021-06-16 11:53] Ruiub3i commented on #18
First Audit Report (Red4Sec)

Know Issues being solved :

- [ ] Flash Loan Compromise for Council 25M

[BEPRO Security Audit Report v2.pdf](https://github.com/bepronetwork/bepro-js/files/6662765/BEPRO.Security.Audit.Report.v2.pdf)

[2021-06-23 11:48] sgoia commented on #22
I am interested, working on this one.

[2021-07-05 11:02] Porchbet opened #88 "Smart Contracts for Bet Settlement"
A Traditional Gambling platform wishes to bring all of its settlement on chain by creating its own oracle, smart contracts & liquidity pools. This will be launched on Polygon.

Users connect wallet to the gambling platform e.g. via metamask. The gambling platform already exists but for tradional fiat so will require integration at a later stage. I am not seeking a solution here. Users are able to

[2021-07-07 18:57] tbem commented on #50
We want to have the possibility to sell and buy NFTs in BNB only, or in FEVR, or in both.
If we sell NFTs in FEVR we should have the option to reduce marketplace fee amount for this transactions, only.
The `putERC721OnSale` function should receive an extra param to define the token we want to use. Also the putOnSale event should send the token chosen.

[2021-07-12 11:38] Ruiub3i commented on #50
Request from @tbem

- [ ] Change Currency of use from ERC20 Interface to msg.value directly for v1

[2021-08-25 08:45] fueledbysushis opened #94 "Node version locked to 14.17.0"
**Describe the bug**

When trying to install the package on my container, running on nodejs 14.17.5 (image is using nodejs 14.x), got an error
`error bepro-js@1.2.9: The engine "node" is incompatible with this module. Expected version "14.17.0". Got "14.17.5"`

**Reproduction**

1.  Using a container built with image [https://github.com/thecodingmachine/docker-images-nodejs/blob/master/Dockerfile.

[2021-09-21 17:24] Ruiub3i opened #98 "Create NetworkFactory test object networkFactory.js"
**Describe the feature or project**
Develop the unit tests

**Bounty**
50k BEPRO

**Who are we**
BetBlock

[2021-09-24 21:06] totomanov commented on #98
I'm working on this.

[2021-09-25 18:48] Markalot787 commented on #98
whats a network factory i searched but dint find results

[2021-09-26 11:53] Ruiub3i commented on #98
It is https://github.com/bepronetwork/bepro-js/blob/master/src/models/BEPRO/NetworkFactory.js here :)

If you have any specific questions please ping me in Discord

[2021-09-28 12:16] rstnzyy opened #100 "Testnet issue"
**Describe the feature or project**

**Available examples**

**Bounty**

**Who are we**

[2021-09-29 01:40] Reallym404 opened #101 "Create a Lending Protocol"
**Describe the bug**
Create a simple ERC20 only Protocol where users can borrow until 20% of what they lended initially.
Only ERC20 should be allowed, and you can borrow one ERC20 against other ERC20

**Reproduction**
Information information :

- Only ERC20 Tokens that are present in Uniswap with a pair against ETH should be available
- Ratio of exchange between the borrowed ERC20 Token & the lend

[2021-10-02 09:42] thuyeuem opened #102 "wow"
**Describe the bug**

**Reproduction**

**Expected behavior**

**Logs, screenshots**

**versions, packages, etc**

**Additional context**

[2021-10-05 04:16] quoctytrn commented on #100
how to connect github via main website?

[2021-10-05 08:11] yongbo-github commented on #100
for what

[2021-11-05 02:06] ehancos commented on #100
Test for testing .

[2021-11-05 03:16] Mochaaz commented on #18
good

[2021-11-09 00:27] bepro-bot opened #108 "Verify if all automatic tests are running"
Verify if all the tests are running in an automatic fashion under test/index.js

Goals :
- [ ] Ensure the Unit Tests are run on "npm test"
- [ ] Verify that once ONE unit test fails the thread is stopped and can be automatically verified by CI/CD infra like Circle CI
- [ ] Add good UI for visualization of tests
- [ ] Ensure no **delay()** functions exists without a reason, to not delay testing str

[2021-11-15 19:00] #18 closed

[2021-11-17 23:34] teedavies commented on #27
https://github.com/sgoia/bepro-js/wiki

[2021-11-17 23:39] teedavies commented on #27
I hope it is done

[2021-11-17 23:49] teedavies commented on #59
How far isthe completion of it

[2021-11-18 13:02] sgoia commented on #27
yes, simple 1st version with things to keep in mind, more will be added as needed.

[2021-11-18 18:50] bepro-bot opened #111 "Come on!"
Change the "Tip" entry found on the "Create new issue panel" and earn up to 1000 $BEPRO.

[2021-11-20 14:02] sgoia commented on #101
I am interested in this project. we need a settle price for $30k BEPRO reward.

[2021-11-20 14:03] sgoia commented on #98
done, awaiting acceptance and pull request merge.

[2021-11-20 14:06] sgoia commented on #22
done, awaiting acceptance and pull request merge.

[2021-11-21 13:01] bepro-bot opened #112 "Development of the UCO.Network Protocol .sol"
UCO Network is a marketplace protocol for Waste management

A marketplace with 3 entities :
- Waste Creator (Seller)
- Waste Collector (Physical work of transport)
- Waste Acquirer (Buyer)

Here we can use the example of the waste creator, the waste creator produces used oil that then is sold via the marketplace to the acquirer via auction or direct sell, the waste collector then takes a fee for t

[2021-11-21 13:05] bepro-bot opened #113 "Create an NFT Marketplace for Clash of Cards .sol"
Create a simple Opener Object (similar to RealFevr)

Initial Rules :
- Use USDC to buy the packs

*Read more in the comments

[2021-11-21 15:27] bepro-bot opened #114 "My Issue Title"
My Issue Description

[2021-11-22 15:18] moshmage opened #115 "Testing"
Test

[2021-11-22 16:58] sgoia commented on #112
I am interested in this one, but I would like to know more details so I can estimate the bounty reward properly.

[2021-11-22 19:12] moshmage commented on #115
@moshmage is working on this.

[2021-11-23 21:14] Ruiub3i commented on #112
@sgoia I will define a scope here to help you out on this one.

Recommend joining discord so that our internal dev team can share with you some information

[2021-11-24 00:32] bexyyy commented on #86
interesting

[2021-11-26 13:10] bepro-bot opened #120 "Review Update real-fvr branch #109 to merge with master"
To verify if all the standards are met and check all unit tests together with verifying the quality of the code to branch with master

[2021-11-26 13:57] bepro-bot opened #122 "Create Object for Protocol Mining"
Integrate a Smart Contract Object for Protocol Mining

**Description**
Example, by the usage of a user performing actions on a third party protocol based on the variables below this contract will use its balance to attribute a rewards to the user

Variables for Mining Algorithm
- Function (a)
- Inputs (b)
- Time (c)

Features
- Generate a Mining Action by performing third party contract function b

[2021-11-26 14:44] sgoia commented on #122
interested in this one, if any other details are provided or required please write them below.

[2021-11-26 14:44] sgoia commented on #120
interested, working on this one.

[2021-11-30 05:54] zhangcanaaa commented on #113
It is recommended to purchase NFT with bepro native tokens.

[2021-12-02 16:19] Zyx51940930 commented on #111
is working on this.

[2021-12-02 16:46] scarlet1314 commented on #120
more and more excellent

[2021-12-02 16:52] scarlet1314 commented on #122
@scarlet1314 is working on this

[2021-12-02 16:58] scarlet1314 commented on #120
interesting

[2021-12-02 17:33] 4from6 commented on #111
Ok

[2021-12-03 01:11] xiaoai317 commented on #120
Discuss the problem and solve it

[2021-12-03 11:59] bepro-bot opened #130 "Make Unit tests coloring"
Show Green color on tests passed
Show Red color on tests not passed

[2021-12-03 12:03] bepro-bot opened #131 "Create automated way to verify in CI/CD of presence of folder content"
Add an automated structure to check if the folder "build" is present and make it an error in the CI/CD side.

Bepro-js is a framework made to be built on the side of the usage not in the codebase.

[2021-12-03 17:05] bepro-bot opened #132 "Update marketplace contract to accept multiple NFT addresses"
Create a new version of the marketplace smart contract that accepts multiple NFT addresses.

[2021-12-09 12:27] cumno commented on #120
interested

[2021-12-13 11:35] bepro-bot opened #136 "Change createNetwork to emit CreatedNetwork event"
Change `createNetwork` function on the smart-contract of `NetworkFactory.sol` to emit the `CreatedNetwork` event

Change the `CreatedNetwork` event to emit the creators address instead of `amount`

[2021-12-14 23:13] jaymeschroeder commented on #136
Working on this

[2021-12-15 10:29] moshmage commented on #136
@jaymeschroeder I would say its id is essentially its index on the `networks` mapping

[2021-12-18 12:01] Ruiub3i commented on #122
Goal for this Smart Contract is to be open enough to allow connection to any Smart Contract into providing Action Per Call Rewards, so that users can earn rewards based on actions against the protocol

[2021-12-18 12:05] bepro-bot opened #139 "Create a Liquidity Mining Protocol"
Follow the Object Development Guidelines at https://docs.bepro.network

**Description**

Create a Liquidity Mining Protocol that rewards ERC-20 from the Smart Contract pool (this Smart Contract) so that we can integrate with third party Smart Contracts.

Example the Liquidity Mining from Compound.Finance, but that would allow enough flexibility to integrate in any smart contract with the variables

[2021-12-18 12:08] bepro-bot opened #140 "Solve Dependency Problem on @openzeppelin/contracts"
See Github Link for more information "DependaBot"

[2021-12-19 21:21] iyunks commented on #72
Working

[2021-12-20 18:30] #86 closed

[2022-01-01 21:38] pelletier197 commented on #132
Sorry, I accidentally clicked the button in the application. Is there a way to undo this action?

[2022-01-04 22:53] sgoia commented on #122
Here are some ideas worth mentioning:
I am not sure the complete external contract generic feature can be achieved.

It would be good to know if we are allowed small variation for a solution to be accepted, because in this case we need the return or a 3rd party function call not just to call it, we need to know the return result, if success to reward user with tokens, so the transaction is not ver

[2022-01-26 13:44] CaCaBlocker opened #142 "Need to update npm"
I tried to implement the **ERC20Distribution** function for my project, but when I installed the latest version, it didn't work. So I reviewed the module code, and I found that **'ERC20Distribution.sol'** file didn't exist, but I checked that it existed on Git Repository and documentation.

Hope to solve this problem quickly.

Thanks.

[2022-01-26 16:46] InterCroneworld commented on #142
Why quickly. Do you have a new customer to cheat. Be carefull with this guy he have stolen our funds.

[2022-02-07 14:06] #142 closed

[2022-02-08 14:39] sgoia commented on #16
hey guys, I am working on this issue to make it work as requested but have an important question:
I want to see why is there a requirement to inherit from both ERC721 and ERC1151 ? one of them would be ok I think.

[2022-04-14 15:47] luisclark opened #165 "Help me to grow"
asdasdasd

[2022-04-14 16:02] supermalvo commented on #165
I love Bepro 💙

[2022-04-14 18:48] sbjin4 commented on #88
No response at all? Been more than half a year.

[2022-04-20 13:48] sgoia commented on #88
I have an interest if requirements from developer are more clear. Maybe on discord server we can speak about it via DM ? I am Sam feel free to reach out on discord.

[2022-04-21 17:05] moshmage commented on #88
Did you ever made a bounty over at [BEPRO Network](http://development.bepro.network) ?

[2022-04-21 17:09] sbjin4 commented on #88
Nope. Planning to do looking around for something similar first.

Sent from ProtonMail for iOS

On Fri, Apr 22, 2022 at 00:05, moshmage ***@***.***> wrote:

[2022-05-06 14:35] IMPranshu commented on #51
Hey, I want to work on this issue. I got forwarded to this issue from bepro site. Will this issue will also be considered in the bounty program???

[2022-05-06 14:41] IMPranshu commented on #102
What is needed to be done in this issue can you please elaborate?

[2022-05-06 14:43] IMPranshu commented on #108
I can implement the first two comfortably. The third is the UI needed in the Terminal itself or separate some context for that is needed. The last two can also be implemented.

[2022-05-09 18:57] moshmage commented on #51
Sorry @IMPranshu this issue has been stale for a while and we forgot to clean it. Documentation for bepro-js / dappkit will exist on its own page and is made from the code itself; Along with a gitbook with more examples, it should suffice.

[2022-05-09 18:57] #51 closed

[2022-05-09 18:58] moshmage commented on #102
Issue should have been closed, long ago.

[2022-05-09 18:58] #102 closed

[2022-05-09 18:59] moshmage commented on #59
a bepro-js documentation app was deemed "too much" and a gitbook was created. closing issue.

[2022-05-09 18:59] #59 closed

[2022-06-27 04:29] pavunato commented on #33
Is that still available for submit?

[2022-06-27 08:35] moshmage commented on #33
An improvement proposal must have something more than a paragraph description. That said, `bepro-js` will be archived when `v2` is deployed - these changes are more than welcome over at https://github.com/taikai/dappkit

[2022-08-04 15:29] #122 closed